Código/bower_components
Código/build
Código/dist
Código/documentation
Código/pages
Código/plugins

Flask/static/bower_components
Flask/static/build
Flask/static/dist
Flask/static/documentation
Flask/static/pages
Flask/static/plugins
Flask/__pycache__
Flask/migrations
Flask/.env
Flask/static/.directory
Flask/database.sqlite

.vscode
AdminLTE-2.4.3/
