{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="wrapper" id="app">

  <menulateral></menulateral>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content-header" style="margin-bottom:5%">
      <h1 class="logo-lg" style="margin-top:1%">
        <b>Registrar dispositivo</b>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-compass"></i>Registrar dispositivo</a>
        </li>
      </ol>
    </section>
    <!-- Escribir dentro de este div para añadir cosas a la plantilla -->
    <div style="margin-left:5%; margin-right:5%">
      <div class="box box-primary" style="padding-bottom:1%; padding-top:1%; padding-left:1%; padding-right:1%">
        <div class="col-md-50">
          <!-- Nombre del dispositivo -->
          <div class="form-group">
            <label for="dispName">Nombre del dispositivo</label>
            <input type="email" class="form-control" id="dispName" placeholder="Nombre del dispositivo" v-model="name">
          </div>
          <!-- Caja tipo sensor -->
          <div class="form-group">
            <label>Tipo</label>
            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" v-model="tipo">
                <option v-for="tipo in tipos ">[[tipo.name]]</option>
            </select>
            <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" style="width: 100%;">
          </div>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
        <div class="col-md-50">
          <!-- Caja tipo sensor -->
          <div class="form-group">
            <label>Función</label>
            <select class="form-control select2 select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true" v-model="funcion">
              <option v-for="funcion in funciones ">[[funcion.name]]</option>
            </select>
            <span class="select2 select2-container select2-container--default select2-container--below " dir="ltr
              " style="width: 100% ">
          </div>
          <!-- Grupo -->
          <div class="form-group ">
            <label>Grupo</label>
            <select class="form-control select2 select2-hidden-accessible " style="width: 100% " tabindex="-1
              " aria-hidden="true" v-model="grupo">
              <option v-for="grupo in grupos ">[[grupo.id]]- [[grupo.name]]</option>
            </select>
            <span class="select2 select2-container select2-container--default select2-container--below " dir="ltr
              " style="width: 100%; ">
          </div>
          <!-- /.form-group -->

          <!-- /.col -->
        </div>
      </div>
      <div class="box-footer " style="padding-left:1%; padding-right:1% ">
        <button type="raddButton " class="btn btn-success" @click="createSensor">Registrar</button>
      </div>
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark ">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs ">
        </ul>
        <!-- Tab panes -->
        <div class="tab-content ">
          <!-- Home tab content -->
          <div id="control-sidebar-home-tab ">
            </form>
          </div>
          <!-- /.tab-pane -->
        </div>
      </aside>
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
      <div class="control-sidebar-bg "></div>
    </div>
    <!-- ./wrapper -->
    {% endblock %} {% block javascripts %}{{ super() }}
    <script>
      var socket = io.connect('{{ domain }}');
      var app = new Vue({
        el: "#app ",
        delimiters: ['[[', ']]'],
        data: {
          name: '',
          funcion: '',
          tipo: '',
          grupo: '{{ default_group }}',
          funciones: [{%
            for funcion in funciones %} {
            id: '{{ funcion.id }}',
            name: '{{ funcion.name }}',
            num: '{{ funcion.num }}',
            class: '{{ funcion.class }}',
          } {% if not loop.last %}, {% endif %} {% endfor %}],
          tipos: [{%
            for tipo in tipos %} {
            name: "{{ tipo.name }}", 
          } {% if not loop.last %}, {% endif %} {% endfor %}],
          grupos: [{%
            for grupo in grupos %} {
            id: '{{ grupo.grupoID }}',
            name: '{{ grupo.nombre }}'
            
          } {% if not loop.last %}, {% endif %} {% endfor %}]
        },
        methods: {
          createSensor: () => {
            socket.emit('createSensor', {
              name: app.name,
              funcion: app.funcion,
              grupo: app.grupo,
              tipo: app.tipo
            });
          }
        }
      });
    </script> {% endblock %}