{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="wrapper" id="app">

    <menulateral></menulateral>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header" style="margin-bottom:5%">
        <h1 class="logo-lg" style="margin-top:1%">
          <b>Añadir a grupo</b>
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-compass"></i>Añadir a grupo</a>
          </li>
        </ol>
      </section>
      <!-- Escribir dentro de este div para añadir cosas a la plantilla -->
      <div style="margin-left:5%; margin-right:5%">
        <div class="box box-primary" style="padding-bottom:1%; padding-top:1%; padding-left:1%; padding-right:1%">
          <div >
            <!-- Caja tipo sensor -->
            <div class="form-group">
              <label>Dispositivo</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                <option selected="selected">Controlador</option>
                <option>Dispositivo1</option>
                <option>Dispositivo2</option>
                <option>Dispositivo3</option>
              </select>
              <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" style="width: 100%;">
            </div>
            <!-- Grupo -->
            <div class="form-group">
              <label>Grupo</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                <option selected="selected">Sin grupo</option>
                <option>Grupo 1</option>
                <option>Grupo 2</option>
                <option>Grupo 3</option>
              </select>
              <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" style="width: 100%;">
            </div>
            <!-- /.form-group -->

            <!-- /.col -->
          </div>
        </div>
        <div class="box-footer" style="padding-left:1%; padding-right:1%">
          <button type="registrar" class="btn btn-success">Registrar</button>
        </div>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
          <!-- Create the tabs -->
          <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <!-- Home tab content -->
            <div id="control-sidebar-home-tab">
              </form>
            </div>
            <!-- /.tab-pane -->
          </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
      </div>
      <!-- ./wrapper -->
{% endblock %} {% block javascripts %}{{ super() }}
<script>
  var appNewGroup = new Vue({
    el: "#app"

  });


</script> {% endblock %}