{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="wrapper" id="app">

  <menulateral current_user="{{current_user}}"></menulateral>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Escribir dentro de este div para añadir cosas a la plantilla -->

    <!-- Content Header (Page header) -->
    <section class="content-header" style="margin-bottom:5%">
      <h1 class="logo-lg">
        <b>Gestionar usuarios</b>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-sitemap"></i> Grupos</a>
        </li>
        <li class="active">
          Gestionar usuarios
        </li>
      </ol>
    </section>


    <!-- Main content -->
    <section class="content">

      <!-- Desplegable -->
      <div style="margin-right:15%; margin-left:15%"
  v-for="groupuser in usergroups"
    v-bind:key="groupuser.id">
      <div class="box box-default">
        <div class="box-header with-border" style="padding:0">
          <div class="info-box bg-green" style="margin:0">
            <span class="info-box-icon">
            </span>

            <div class="info-box-content">
              <span class="info-box-number">[[groupuser.name]]</span>
              <span class="info-box-text">
              <span class="info-box-text">[[groupuser.num]] usuarios</span>
                <small>[[groupuser.desc]]</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-plus" style="color:white"></i>
            </button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="display: none; margin-top:2%">
          <div style="padding-left:10%; padding-right:10%">
          <strong>
            <i class="fa"></i>
            <big>Usuarios</big>
          </strong>

          <ul>
            <div>
            <li
            v-for="user in groupuser.users"
            v-bind:key="user.id">Usuario 1
              <i>
                <i class="fa fa-close pull-right" style="color:red"></i>
              </i>
            </li>
            </div>
          </ul>
        </div>
      <button type="submit" class="btn btn-default pull-right bg-green">Añadir usuario</button>
    </div>
    <!-- /.box-body -->
  </div>
</div>
      <!-- /Desplegable -->

    </section>
    <!-- /.content -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Create the tabs -->
      <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <!-- Home tab content -->
        <div id="control-sidebar-home-tab">
          </form>
        </div>
        <!-- /.tab-pane -->
      </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  {% endblock %} {% block javascripts %}{{ super() }}
  
  <script>
    var appGroups = new Vue({
      el: "#app",
      delimiters: ['[[', ']]'],
      data: {
        usergroups: [
          {% for usergroup in usergroups %}
		    		{
                id: '{{ usergroup.id }}',
                name: '{{ usergroup.name }}',
                num: '{{ usergroup.num }}',
                desc: '{{ usergroup.desc }}',
                class: '{{ usergroup.class }}',
                users:[
                        {% for user in usergroup.usuarios %}
                          {
                            nickname: '{{user.nickname}}'
                              }{% if not loop.last %}, {% endif %}
                        {% endfor %}
                      ]
                    }{% if not loop.last %}, {% endif %}
                {% endfor %}
              ]
          }
        });
  </script> {% endblock %}