{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="wrapper" id="app">

  <menulateral current_user="{{current_user}}"></menulateral>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Escribir dentro de este div para añadir cosas a la plantilla -->

    <!-- Content Header (Page header) -->
    <section class="content-header" style="margin-bottom:5%">
      <h1 class="logo-lg">
        <b>Gestionar usuarios</b>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-sitemap"></i> Grupos</a>
        </li>
        <li class="active">
          Gestionar usuarios
        </li>
      </ol>
    </section>


    <!-- Main content -->
    <section class="content">

      <!-- Desplegable -->
      <usergroupdisplay v-bind:usergroups="usergroups"></usergroupdisplay>
      <!-- /Desplegable -->

    </section>
    <!-- /.content -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Create the tabs -->
      <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <!-- Home tab content -->
        <div id="control-sidebar-home-tab">
          </form>
        </div>
        <!-- /.tab-pane -->
      </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  {% endblock %} {% block javascripts %}{{ super() }}
  <script src="{{ url_for('static', filename='users.js') }}"></script>
  <script src="{{ url_for('static', filename='userGroup.js') }}"></script>

  <script>
    var appGroups = new Vue({
      el: "#app",
      delimiters: ['[[', ']]'],
      data: {
        usergroups: [
          {% for usergroup in usergroups %}
		    		{
      id: '{{ usergroup.id }}',
      name: '{{ usergroup.name }}',
      num: '{{ usergroup.num }}',
      desc: '{{ usergroup.desc }}',
      class: '{{ usergroup.class }}',
      users: '{{ usergroup.usuarios}}',
        }{% if not loop.last %}, {% endif %}
      {% endfor %}
            ]
          }
        });
  </script> {% endblock %}