
{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<div class="wrapper" id="app">

    <menulateral></menulateral>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Escribir dentro de este div para añadir cosas a la plantilla -->
      <section class="content-header" style="margin-bottom:5%">
        <h1 class="logo-lg">
          <b>Grupos</b>
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-sitemap"></i> Grupo 1</a>
          </li>
        </ol>
      </section>



      <div style="margin-bottom:2%; margin-left:10%; margin-right:15%">
        <div class="row" style="margin-bottom:2%">
          <div class="col-md-6">
            <a class="btn btn-block btn-social btn-bitbucket" href="addSensor.html">
              <i class="fa fa-plus"></i>Añadir nuevo dispositivo
            </a>
          </div>
          <div class="col-md-6">
            <a class="btn btn-block btn-social btn-bitbucket">
              <i class="fa fa-minus"></i> Eliminar dispositivo
            </a>
          </div>
        </div>
      </div>

      <!-- mostramos los dispositivos -->
      <section class="content">
        <devicedisplay v-bind:devices="devices"></devicedisplay>
        <devicedisplaylight v-bind:devices="devices"></devicedisplaylight>
        <devicedisplaysensor v-bind:devices="devices"></devicedisplaysensor>
      </section>



      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div id="control-sidebar-home-tab">
            </form>
          </div>
          <!-- /.tab-pane -->
        </div>
      </aside>
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->



{% endblock %} {% block javascripts %}{{ super() }}
<script src="{{ url_for('static', filename='deviceNormal.js') }}"></script>
<script src="{{ url_for('static', filename='deviceSensor.js') }}"></script>
<script src="{{ url_for('static', filename='deviceLight.js') }}"></script>

<script>
  var appGroups = new Vue({
    el: "#app",
    data: {
      devices: [
        {% for device in devices %}
		    		{
      id: '{{ device.disID }}',
      name: '{{ device.nombre }}',
      tipo: '{{ device.tipo }}',
      funcion: '{{ device.funcion }}',
      estado: '{{ device.estado }}'
    }{% if not loop.last %}, {% endif %}
  {% endfor %}
          ]
        }
      });
</script> {% endblock %}
