 {% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<div class="wrapper" id="app">

    <menulateral current_user="{{current_user}}"></menulateral>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Escribir dentro de este div para añadir cosas a la plantilla -->

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Introducir datos
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary" style="padding-bottom:1%; padding-top:1%; padding-left:1%; padding-right:1%;">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Sensor</label>
                                        <select class="form-control">
                                            <option>Temperatura</option>
                                            <option>Luminosidad</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Valor</label>
                                        <input type="text" class="form-control" id="sensorValue" placeholder="Valor del sensor" v-model="value">
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha y hora</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control" id="sensorDateTime" placeholder="dd/mm/yy-hh:mm">
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success">Añadir medida</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
            </div>
    </div>

    </section>
    <!-- /.content -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div id="control-sidebar-home-tab">
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

{% endblock %} {% block javascripts %}{{ super() }}
<script>
    var socket = io.connect('{{ domain }}');
    var appNewGroup = new Vue({
        el: "#app"
        data: {
            id: '',
            value: '',
            datetime: '',
            sensores: [
                {% for sensor in sensores %}
	    		    {
            id: '{{ actuador.disID }}',
            name: '{{ actuador.nombre }}'
        }{% if not loop.last %}, {% endif %}
    {% endfor %}
            ]
        },
    computed: {
        inactivo() {
            if (this.id == '' || this.value == '' || this.datetime == '') {
                return true;
            }
            return false;
        }
    },
    methods: {
        createMeasure() {
            socket.emit('createMeasure', {
                id: this.id,
                value: this.value,
                datetime: this.datetime
            });
        },
    }

        });


</script> {% endblock %}