 {% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<div class="wrapper" id="app">

    <menulateral current_user="{{current_user}}"></menulateral>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Escribir dentro de este div para añadir cosas a la plantilla -->

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Introducir datos
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard"></i> Home</a>
                </li>
                <li class="active">Introducir datos</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary" style="padding-bottom:1%; padding-top:1%; padding-left:1%; padding-right:1%;">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Sensor</label>
                                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" v-model="id">
                                            <option v-for="sensor in sensores" :key="sensor.id" v-bind:value='sensor.id'>[[sensor.name]]</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Valor</label>
                                        <input type="text" class="form-control" id="sensorValue" placeholder="Valor del sensor" v-model="value">
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha y hora</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control" id="sensorDateTime" placeholder="dd/mm/yyyy-hh:mm" v-model="datetime">
                                        </div>
                                        <p v-if="isvalidDateTime == false" class="error">El formato debe ser dd/mm/yy-hh:mm y ser valida, ademas el año debe estar entre 1000 y 3000.</p>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button @click="createMeasure" :disabled="inactivo" type="submit" class="btn btn-success">Añadir medida</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
            </div>
        </section>
        <!-- /.content -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div id="control-sidebar-home-tab">
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
    </div>
    <!-- ./wrapper -->
</div>
{% endblock %} {% block javascripts %}{{ super() }}
<script>
    var socket = io.connect('{{ domain }}');
    var app = new Vue({
        el: "#app",
        delimiters: ['[[', ']]'],
        data: {
            id: '',
            value: '',
            datetime: '',
            sensores: [
                {% for sensor in sensores %}
	    		    {
            id: '{{ sensor.disID }}',
            name: '{{ sensor.nombre }}'
        }{% if not loop.last %}, {% endif %}
    {% endfor %}
            ]
        },
    computed: {
        inactivo() {
            if (this.id === '' || this.value === '' || this.datetime === '') {
                return true;
            }
            if (!/^\d{1,2}\/\d{1,2}\/\d{4}-\d{2}\:\d{2}$/.test(this.datetime)) return true;
            var parts = this.datetime.split("-");
            var date = parts[0].split("/");
            var day = parseInt(date[0], 10);
            var month = parseInt(date[1], 10);
            var year = parseInt(date[2], 10);
            var time = parts[1].split(":");
            var hour = parseInt(time[0], 10);
            var min = parseInt(time[1], 10);
            // Check the ranges of month and year
            if (year < 1000 || year > 3000 || month == 0 || month > 12)
                return true;

            var monthLength = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

            // Adjust for leap years
            if (year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
                monthLength[1] = 29;

            // Check the time
            if (hour < 0 || hour > 23 || min > 59 || min < 0)
                return true;
            // Check the range of the day
            return !(day > 0 && day <= monthLength[month - 1]);
        },
        // Se repite codigo por ser la unica forma encontrada de que esto funcionase a la vez
        isvalidDateTime() {
            if (this.datetime == '')
                return true;
            if (!/^\d{1,2}\/\d{1,2}\/\d{4}-\d{2}\:\d{2}$/.test(this.datetime))
                return false;
            // Parse the date parts to integers
            var parts = this.datetime.split("-");
            var date = parts[0].split("/");
            var day = parseInt(date[0], 10);
            var month = parseInt(date[1], 10);
            var year = parseInt(date[2], 10);
            var time = parts[1].split(":");
            var hour = parseInt(time[0], 10);
            var min = parseInt(time[1], 10);
            // Check the ranges of month and year
            if (year < 1000 || year > 3000 || month == 0 || month > 12)
                return false;

            var monthLength = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

            // Adjust for leap years
            if (year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
                monthLength[1] = 29;

            // Check the time
            if (hour < 0 || hour > 23 || min > 59 || min < 0)
                return false;
            // Check the range of the day
            return (day > 0 && day <= monthLength[month - 1]);
        }
    },
    methods: {
        createMeasure() {
            socket.emit('createMeasure', {
                id: this.id,
                value: this.value,
                datetime: this.datetime
            });
        },
    }
        });
</script> {% endblock %}