{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="wrapper" id="app">

  <menulateral current_user="{{current_user}}"></menulateral>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Modificar dispositivos grupo
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li>
          <a href="#">Grupos</a>
        </li>
        <li class="active">Gestion grupo</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- /.box -->

      <div style="margin-top:5%; margin-bottom:2%; margin-left:8%; margin-right:8%">

          

          <div>

            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Dispositivos</h3>

              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Añadir dispositivo</label>
                      <select class="form-control select2" multiple="multiple" data-placeholder="Seleccione las luces" style="width: 100%;" v-model="added">
                        <option v-for="device in devicesNotInGroup" :key="device.id" v-bind:value="device.id">[[device.name]]</option>
                      </select>
                    </div>
                    <div class="box-footer">
                        <button @click="addDevice" type="submit" class="btn btn-success pull-right">Añadir Dispositivo</button>
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <label>Eliminar dispositivo</label>
                      <select class="form-control select2" multiple="multiple" data-placeholder="Seleccione los persianas" style="width: 100%;"v-model="removed">
                        <option v-for="device in devicesInGroup" :key="device.id" v-bind:value="device.id">[[device.name]]</option>
                      </select>
                    </div>

                    <div class="box-footer">
                      <button @click="removeDevice" type="submit" class="btn btn-success pull-right">Eliminar Dispositivo</button>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col -->
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.box-body -->
            </div>

          </div>
          <!-- /.col (left) -->
          <!-- /.col (right) -->
        </div>
        <!-- /.row -->
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>

{% endblock %} {% block javascripts %}{{ super() }}
<script>
  var socket = io.connect('{{ domain }}');
  socket.on('reload', function () {
    location.reload()
  }); 
  var app = new Vue({
    el: "#app",
    delimiters: ['[[', ']]'],
    data: {
        devicesInGroup: [{% for device in devicesInGroup %}
                        {
                id: '{{ device.disID }}',
                name: '{{ device.nombre }}',
                funcion: '{{ device.funcion }}'
                }{% if not loop.last %}, {% endif %}
            {% endfor %}],
        devicesNotInGroup: [{% for device in devicesNotInGroup %}
                    {
            id: '{{ device.disID }}',
            name: '{{ device.nombre }}',
            funcion: '{{ device.funcion }}'
            }{% if not loop.last %}, {% endif %}
        {% endfor %}],
        added:[],
        removed:[],
        grupo: {{ idgrupo }}
    },
    methods: {
      addDevice(){
        socket.emit('addDeviceToGroup', {
          added: this.added,
          grupo: this.grupo
        });
      },
      removeDevice(){
        socket.emit('removeDeviceFromGroup', {
          removed: this.removed,
          grupo: this.grupo
        });
      }
    }
  });
</script> {% endblock %}