{% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="wrapper" id="app">

  <menulateral></menulateral>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Añadir grupo
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li>
          <a href="#">Grupos</a>
        </li>
        <li class="active">Añadir grupo</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- /.box -->

      <div style="margin-top:5%; margin-bottom:2%; margin-left:8%; margin-right:8%">
        <div class="row">

          <div class="col-md-6">

            <div class="box box-primary">
              <!-- /.box-header -->
              <!-- form start -->
              <div class="box-header with-border">
                <h3 class="box-title">Datos del grupo</h3>
              </div>
              <div class="box-body">
                <input v-model="name" class="form-control input-lg" type="text" placeholder="Nombre">
                <br>
                <input v-model="desc" class="form-control" type="text" placeholder="Descripcción">
              </div>

            </div>
            <!-- /.box -->
            <!-- iCheck -->
            <!--
            <div class="box box-primary">
              <div class="box-body">
                <div class="box-header with-border">
                  <h3 class="box-title">Subgrupos</h3>
                </div>
                <form role="form">
                  
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" v-model="subgroups" value="home" id="home"> Casa completa
                    </label>
                  </div>
                  <div class="checkbox" v-for="group in groups">
                    <label>
                      <input type="checkbox" v-model="subgroups" v-bind:value="group" v-bind:id="group"> [[group.name]]
                    </label>
                  </div>
                </form>
              </div>
            </div>
            -->
          </div>

          <div class="col-md-6">

            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Dispositivos</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove">
                    <i class="fa fa-remove"></i>
                  </button>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Luces</label>
                      <select class="form-control select2" multiple="multiple" data-placeholder="Seleccione las luces" style="width: 100%;" v-model="lights">
                        <option v-for="device in devices"
                        v-if="device.type == 'light'">[[device.name]]</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label>Persianas</label>
                      <select class="form-control select2" multiple="multiple" data-placeholder="Seleccione los persianas" style="width: 100%;"
                        v-model="blinds">
                        <option v-for="device in devices"
                        v-if="device.type == 'blind'">[[device.name]]</option>                      </select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Termostatos</label>
                      <select class="form-control select2" multiple="multiple" data-placeholder="Seleccione las termostatos" style="width: 100%;"
                        v-model="thermostats">
                        <option v-for="device in devices"
                        v-if="device.type == 'thermostat'">[[device.name]]</option>                      </select>
                    </div>

                    <div class="box-footer">
                      <button type="submit" class="btn btn-default">Cancelar</button>
                      <button @click="createGroup" type="submit" class="btn btn-success pull-right">Añadir Grupo</button>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col -->
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.box-body -->
            </div>

          </div>
          <!-- /.col (left) -->
          <!-- /.col (right) -->
        </div>
        <!-- /.row -->
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>

{% endblock %} {% block javascripts %}{{ super() }}
<script>
  var socket = io.connect('{{ domain }}');
  var app = new Vue({
    el: "#app",
    delimiters: ['[[', ']]'],
    data: {
      name: '',
      desc: '',
      subgroups: [],
      thermostats: [],
      blinds: [],
      lights: [],
      devices: [{% for device in devices %}
		    		{
              id: '{{ device.id }}',
              name: '{{ device.name }}',
              type: '{{ device.type }}'
            }{% if not loop.last %}, {% endif %}
          {% endfor %}],
      groups: [
        {% for group in groups %}
          {
              id: '{{ group.id }}',
              name: '{{ group.name }}',
              num: '{{ group.num }}',
              class: '{{ group.class }}',
            }{% if not loop.last %}, {% endif %}
          {% endfor %}
      ]
    },
    methods: {
      createGroup: () => {
        socket.emit('createGroup', {
          name: app.name,
          desc: app.desc,
          devices: app.lights.concat(app.thermostats).concat(app.blinds),
          subgroups: app.subgroups
        });
        app.name=''
        app.desc=''
        app.lights=''
        app.thermostats=''
        app.blinds=''
      }
    }
  });
</script> {% endblock %}