 {% extends "layout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="wrapper" id="app">

  <menulateral></menulateral>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content-header" style="margin-bottom:5%">
      <h1 class="logo-lg" style="margin-top:1%">
        <b>Añadir programa</b>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-hourglass"></i>Añadir programa</a>
        </li>
      </ol>
    </section>
    <!-- Escribir dentro de este div para añadir cosas a la plantilla -->
    <section class="content">
      <div class="margin" style="margin-right:5% ;margin-left:5%">
        <div class="col-md-12">
          <div class="box box-primary" style="padding-bottom:1%; padding-top:1%; padding-left:1%; padding-right:1%;">
            <!-- Nombre del dispositivo -->
            <div class="form-group imput-lg">
              <label for="progName">Nombre del programa</label>
              <input type="text" class="form-control" id="progName" placeholder="Nombre del programa">
            </div>
            <div class="form-group">
              <label for="progDesc">Descripción</label>
              <input type="text" class="form-control" id="progDesc" placeholder="Descripción">
            </div>

          </div>
        </div>
        <!-- Caja Actuadores -->
        <div v-for="device in devices">
          <div class="col-md-12">
            <div class="box box-primary" style="padding-bottom:1%; padding-top:1%; padding-left:1%; padding-right:1%">
              <div class="form-group">
                <label>Actuadores</label>
                <select class="form-control select2 select2-hidden-accessible" data-placeholder="Seleccione los Actuadores" style="width: 100%;"
                  tabindex="-1" aria-hidden="true" v-model="device.device">
                  <option v-for="actuador in actuadores">[[actuador.name]]</option>
                </select>
              </div>
              <!--Caja hora Inicio -->
              <div class="form-group">
                <label>Hora inicio</label>
                <div class="input-group" style="margin-bottom:1.5%;">
                  <input type="text" class="form-control timepicker" v-model="device.init">
                  <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                  </div>
                </div>
                <!--Caja hora final -->
                <div class="form-group">
                  <label>Hora final</label>
                  <div class="input-group">
                    <input type="text" class="form-control timepicker" v-model="device.end">
                    <div class="input-group-addon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                  </div>
                </div>
                <div class="form-group imput-lg">
                  <label for="progName">Valor del actuador</label>
                  <input type="text" class="form-control" id="sensorValue" placeholder="Aqui va el valor de los sensores que hace de condición del programa"
                    v-model="device.value">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row margin pull-left" style="margin-right:6% ;margin-left:5%">
          <button type="raddButton" class="btn btn-success pull-right" @click="addDevice">Añadir sensor</button>
          <button type="raddButton" class="btn btn-success pull-right" @click="removeDevice">Eliminar sensor</button>
        </div>
        <div class="row margin pull-right" style="margin-right:6% ;margin-left:5%">
          <button type="raddButton" class="btn btn-success pull-right" @click="createProgram">Guardar</button>
        </div>
      </div>
    </section>


    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Create the tabs -->
      <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <!-- Home tab content -->
        <div id="control-sidebar-home-tab">
          </form>
        </div>
        <!-- /.tab-pane -->
      </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg">
    </div>
  </div>
</div>
<!-- ./wrapper -->
{% endblock %} {% block javascripts %}{{ super() }}
<script>
  var socket = io.connect('{{ domain }}');
  var app = new Vue({
    el: "#app",
    delimiters: ['[[',']]'],
    data: {
      name: '',
      desc: '',
      devices: [],
      actuadores: [
        {% for actuador in actuadores %}
		    		{
      id: '{{ actuador.id }}',
      name: '{{ actuador.name }}',
      num: '{{ actuador.num }}',
      class: '{{ actuador.class }}',
    }{% if not loop.last %}, {% endif %}
  {% endfor %}
          ]
    },
    methods: {
      addDevice: () => {
        app.devices.push({ id: app.devices.length, device: '', init: 'asd', end: 'asd', value: 'asd' });
      },
      removeDevice: () => {
        app.devices.splice(app.devices.length - 1, 1);
      },
      createProgram: () => {
        socket.emit('createProgram', {
          name: app.name,
          desc: app.desc,
          devices: app.devices
        });
      }
    }
  });


</script> {% endblock %}