{% extends "loginLayout.html" %} {% block head %} {{ super() }} {% endblock %} {% block content %}
  <div class="login-box">
      <div class="login-logo">
        <b>DomoticsTrails</b>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Recuperar mi contraseña</p>
  
        <form action="/" method="get">
            <div class="form-group has-feedback">
            <input class="form-control" placeholder="Email" type="email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
  
  
          <div>
            <button type="submit" class="btn btn-primary btn-block btn-flat">Enviame mi contraseña</button>
          </div>
            <!-- /.col -->
        </form>
        <a href="/">Llevame al login</a><br>
      </div>
      <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
{% endblock %} {% block javascripts %}{{ super() }}
{% endblock %}